torchsde
einops
diffusers
accelerate
xformers==0.0.28.post2
facexlib
insightface
onnxruntime
onnxruntime-gpu
ftfy
timm
torch==2.5.0
gguf>=0.9.1
numpy<2.0.0
torchvision==0.20.0
opencv-contrib-python==4.11.0.86
opencv-python-headless==4.11.0.86
opencv-python==4.11.0.86
uvicorn
fastapi
python-multipart==0.0.20
